*{
	box-sizing: border-box;
}
body{
	font-size: 16px;
	background-color: #fff;
}
#header-nav{
	background-color: grey;
	border-radius: 0;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
p{
	position: absolute;
	left: 0px;
	padding: 5px;
	top: 5px;
	font-weight: bold;
}
.text-center{
	font-weight: bold;
}
.container, .container-fluid{
	margin-left: 0px;
	width: 100%;
}
section{
	background-color: grey;
	padding: 10px;
	border-radius: 10px;
}
#bs-example-navbar-collapse-1{
	background-color: #fff;
}
hr{
	height: 1px;
	background-color: black;
	border: none;
}
a{
	font-weight: bold;
}